<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="{{keywords}}">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}} - {{blogDescription}}</title>
    <link rel="stylesheet" href="/blog/static/blog.css">
    <link rel="alternate" type="application/rss+xml", title="{{blogTitle}} » rss", href="/blog/index.xml">
</head>
<body>
    <header>
        <h1>Caridy's Codex</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/blog/#about">Home</a></li>
            <li><a href="/blog/archives/index.html">Archives</a></li>
        </ul>
    </nav>
    <main>
        {{{body}}}
    </main>
    <footer>
        <p>Content on Caridy's Codex reflects his personal views and not those of his employer. Unless otherwise noted, all material is shared under a <a href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons</a> license.</p>
    </footer>
</body>
</html>
