<?xml version="1.0" encoding="utf-8" ?>
<rss version="2.0">
    <channel>
        <title>{{blogTitle}}</title>
        <link>{{{domain}}}/blog/</link>
        {{#articles}}
            <item>
                <title>{{title}}</title>
                <link>{{../domain}}{{path}}</link>
                <pubDate>{{date}}</pubDate>
                <description><![CDATA[{{{content}}}]]></description>
            </item>
        {{/articles}}
    </channel>
</rss>
